.form-field {
        margin-top: 20px;

        & label {
                margin-bottom: 5px;
        }
}

.button-wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: center;
}

.text-wrapper {
        margin-top: 30px;
        flex-direction: column;
        display: flex;
        align-items: center;

        & a {
                color: var(--primary-color);

                &:hover {
                        color: var(--primary-hover-color);
                }
        }
}
.error {
        margin-top: 10px;
        color: red;
}
