{
        "singleQuote": true,
        "jsxSingleQuote": true,
        "semi": false,
        "trailingComma": "es5",
        "tabWidth": 8,
        "printWidth": 100,
        "arrowParens": "avoid"
}
