.cart-root {
        display: block;
        max-width: 525px;
}

.cart-list {
        margin-top: 40px;
}

.cart-item {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
}

.product-item-info {
        display: flex;
}

.image-wrapper {
        width: 82px;
        height: 82px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 20px;
}

.product-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.product-info-wrapper {
        padding-left: 20px;
}

.product-name,
.price {
        display: block;
        font-weight: 600;
}

.product-name {
        margin-top: 10px;
        font-size: 18px;
}

.price {
        margin-top: 10px;
        color: rgba(254, 114, 76, 1);
        font-size: 16px;
}

.product-item-controls {
        display: flex;
        align-items: center;
}

.button {
        border: none;
        background: none;
        cursor: pointer;
}

.disabled {
        opacity: 0.5;
}

.decrement,
.increment {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        padding-bottom: 4px;
        font-size: 30px;
        border-radius: 17px;
}

.decrement {
        color: rgba(254, 114, 76, 1);
        border: 1px solid rgba(254, 114, 76, 1);
}

.increment {
        color: white;
        background-color: rgba(254, 114, 76, 1);
}

.product-count {
        margin: 0 8px;
}

.delete {
        margin: 0 15px 0 20px;
        color: rgba(254, 114, 76, 1);
        font-size: 16px;
}

.promo-wrapper {
        position: relative;
}

.promo-button {
        position: absolute;
        top: 8px;
        right: 17px;
}

.button-wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: center;
}

.total-list {
        display: block;
        margin-top: 10px;
}

.total-list__item {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px 5px 0;
        border-bottom: 1px solid rgba(241, 242, 243, 1);
}

.total-list__item-title {
}

.total-list__item-cost {
}

.rubl {
        font-family: Open Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(151, 150, 161, 1);
}
