.success-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
}

.image {
        width: 420px;
}

.title {
        width: 323px;
        margin-bottom: 60px;
        font-family: Open Sans;
        font-weight: 300;
        font-size: 31px;
        line-height: 120%;
        text-align: center;
}
