.layout {
        height: 100vh;
        margin: 0 auto;
        width: 100%;
        max-width: 1024px;
        min-width: 768px;
        display: flex;
        flex-direction: row;
        background-color: var(--white-color);
}

.sidebar {
        width: 250px;
        height: 100%;
        padding: 25px 0 40px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid var(--separator-color);
}

.main {
        width: calc(100% - 250px);
        padding: 40px 60px;
}

.sidebarTop {
}
.sidebarBottom {
}
.profile {
}
.avatar {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50px;
        background-color: #ffc529;
        filter: drop-shadow(0 8px 40px rgba(255, 197, 41, 0.25));
}
.name {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
}
.email {
        font-size: 14px;
        font-weight: 400;
        color: var(--text-light-color);
}
.navigation {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
}
.link {
        padding-left: 35px;
        color: var(--text-color);
}
.link:hover,
.active {
        color: var(--primary-hover-color);
}

.menuLink {
        background-image: url(./menu-icon.svg);
        background-repeat: no-repeat;
}
.cartLink {
        margin-top: 30px;
        background-image: url(./cart-icon.svg);
        background-repeat: no-repeat;
}

.cartCount {
        display: inline-block;
        text-align: center;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: var(--white-color);
        border-radius: 10px;
        background-color: var(--primary-color);
}
